.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 82px;
}
.header-left p {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;
  
}
.header-left span {
  font-family: Acumin Pro-bold;
}

.header-left a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
}

.header-left img {
  padding-bottom: 3px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-right p {
  font-size: 16px;
  font-family: Acumin Pro-bold;
  color: #404040;
}

.header-right a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
  opacity: 0.3;
}
.header-right-bold {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;

}

.hero-section {
  display: flex;
  gap: 55px;
  width: 68%;
  margin: 0 auto;
  
}
.hero-aside {
  box-shadow: 5px 5px rgba(64, 64, 64, 0.11);
}

.hero-aside-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: Acumin Pro-bold;
  color: #404040;

}

.hero-section-content {
  width: 454px;
  height: 135px;
  border-bottom: 1px solid #707070;
}
.hero-section-content p {
  font-size: 13px;
  font-family: Acumin Pro-reg;
  color: #707070;
  padding-top: 33px;
}

.hero-section-content h1 {
  font-size: 40px;
  font-family: Acumin Pro-bold;
  color: #404040;
  padding-top: 10px;
}
.hero-section-content h2 {
  font-size: 15px;
  font-family: Acumin Pro-bold;
  color: #404040;
  padding-top: 12px;
}


.article-section {
  width: 68%;
  margin: 80px auto;
  display: flex;
  align-items: center;
 gap: 56px;
}

.article-img {
  position: relative;
}


.article-btn {
  position: absolute;
  top: 24px;
  right: 25px;
  font-size: 12px;
  font-family: Acumin Pro-reg;
  color: #707070;
  padding: 8px 19px;
  background-color: #fff;
  border: none;
  border-radius: 14px;

}

.article-btn:hover {
  color: #404040;
  background-color: #707070;
 cursor: pointer;

}


.article-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.article-text p {
  font-size: 15px;
  font-family: Acumin Pro-bold;
  color: #404040;
  padding-top: 33px;
}

.article-text h1 {
  font-size: 13px;
  font-family: Acumin Pro-reg;
  color: #707070;

}







footer {
   
  width: 68%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}


.footer-left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
 height: 159px;
 padding-top: 47px;
 padding-bottom: 27px;

}
.footer-left h1 {
  font-size: 16px;
  font-family: Acumin Pro-bold;
  color: #404040;
}
.footer-left h2 {
  font-size: 15px;
  font-family: Acumin Pro-reg;
  color: #707070;
}

.footer-logo {
  display: flex;
  
  gap: 26px;
}
.footer-logo p {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;
  
}
.footer-logo span {
  font-family: Acumin Pro-bold;
}
.footer-logo:last-child p{
  font-size: 18px;
}
.footer-logo img {
  padding-bottom: 3px;
}
.footer-text {
  display: flex;
  align-items: flex-start;
 gap: 5px;
  flex-direction: column;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}



.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-nav a {
  font-size: 15px;
  font-family: Acumin Pro-bold;
  color: #404040;
  display: flex;
  padding-top: 8px;
}



.footer-more-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 20%;
  height: 159px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-icones {
  display: flex;
  align-items: center;
  gap: 7px;

}

.footer-more-info a {
  font-size: 15px;
  font-family: Acumin Pro-bold;
  color: #404040;
}