.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 82px;
}
.header-left p {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;
  
}
.header-left span {
  font-family: Acumin Pro-bold;
}

.header-left a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
}

.header-left img {
  padding-bottom: 3px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-right p {
  font-size: 16px;
  font-family: Acumin Pro-bold;
  color: #404040;
}

.header-right a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
  opacity: 0.3;
}
.header-right-bold {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;

}

.hero-section {
  width: 68%;
  margin: 0 auto;
  height: 270px;
  background-image: url(../img/zgva.png);
  background-position: center;
  background-size: cover;
  
  position: relative;
}

.hero-section-overlay {
  position: absolute;
  width: 99%;
  height: 95%;
  margin: 0 auto;
  background-color: rgba(112, 112, 112, 0.3);
  
overflow: hidden;
}

.hero-section-waves{
  position: absolute;
  bottom: 0px;
  animation: move-waves 2s ease-out;
animation-iteration-count: infinite;
width: 100%;
}
@keyframes move-waves {
  1% {
    transform: translate(-100px);
  }
  25% {
transform: translate(-50px);
  }
  50% {
    transform: translate(50px);
  }
75% {
  transform: translate(100px);
}
80% {
  transform: translate(50px);
}
90% {
  transform: translate(25px);
}
100% {
  transform: translate(2px);
}
}

.hero-section-text-container {
  width: 90%;
  margin: 0 auto;
  color: rgb(252, 242, 242);
}

.hero-section-text-container h5 {
  font-size: 20px;
  font-family: Acumin Pro-reg;


}

.hero-section-text-container h2 {
  font-size: 46px;
  font-family: Acumin Pro-bold;
  font-weight: bold;
}

.hero-section-text-container h6 {
  font-family: Acumin Pro-reg;
  font-size: 10px;
  padding-top: 10px;
  
  
}

.hero-section-btn {
  width: 186px;
  height: 44px;
  background-color: #6294A2;
  border-radius: 22px;
  color: #fff;
  border: none;
  margin-top: 20px;
  font-family: Acumin Pro-reg;
  cursor: pointer;
}

.hero-section-info {
  /* position: absolute;
  top: 44px;
  right: 58px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.hero-section-liner {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding-top: 50px;

  margin: 0 auto;
}

.hero-section-info h3 {
  color: #F0F0F0;
  font-size: 12px;
  font-family: Acumin Pro-reg;
  
  
}

.hero-section-info h4 {
  width: 124px;
  height: 26px;
  cursor: pointer;
  color: #5E8A93;
  background-color: #DFFBFF;
  padding: 8px 19px;
  font-size: 12px;
  font-family: Acumin Pro-bold;
  border-radius: 12px;}



  .info-section {
    display: flex;
    margin: 0 auto;
    width: 68%;
    margin-top: 100px;
    gap: 66px;
  }
  .info-section-right {
    
  }

  .info-section-left {
    box-shadow: 5px 5px rgba(64, 64, 64, 0.11);
  }

  .left-section-heding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  .left-section-heding-publications {
    display: flex;
    align-items: center;
    
  }
  .left-section-heding-publications img {
    padding: 5px;
  }
  .left-section-heding-publications h1 {
    font-size: 25px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }

  .left-section-heding-list {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .left-section-heding-list h2 {
    font-size: 12px;
    font-family: Acumin Pro-reg;
    color: #707070;
    
  }


  .trevel-reviews {
    display: flex;
    align-items: center;
    padding-top: 38px;
    width: 95%;
  }

.trevel-reviews-text {
display: flex;
flex-direction: column;
gap: 20px;
}

  .trevel-reviews-text h1 {
    font-size: 13px;
    font-family: Acumin Pro-reg;
    color: #707070;

  }
  .trevel-reviews-text h2 {
    font-size: 20px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }
  .trevel-reviews-text h3 {
    font-size: 15px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }

.info-section-right {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

  .info-section-right-text {
    background-image: url(../img/kanion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 268px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px rgba(64, 64, 64, 0.11);
    justify-content: center;
 
   
  }
  
  .info-section-right-text h1 {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #F0F0F0;
    
  }
  .info-section-right-text h2 {
    font-size: 32px;
    font-family: Acumin Pro-bold;
    color: #F0F0F0;
  }
  .info-section-right-text h3 {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #F0F0F0;
  }


  .info-section-right-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 16px;
    font-family: Acumin Pro-reg;
    color: #FFF;
    background-color: hsla(0, 0%, 0%, 0.207);
    border-radius: 22px;
    padding: 9px;
    border: none;
  }

  .info-section-right-text-position {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;
  }

  .info-section-right-adres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border: 1px solid #F0F0F0;
    box-shadow: 5px 5px rgba(64, 64, 64, 0.11);
    
  }
  .info-section-right-adres-position {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }


  .info-section-right-adres-input {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #F0F0F0;
    border: 1px solid #FCFCFC;
  }
  .info-section-right-adres-input:hover {
border: 2px solid #DFFBFF;
  }

  .info-section-right-adres h1 {
    font-size: 26px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }


  .info-section-right-adres p {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #F0F0F0;
  }


  .info-section-right-adres-input {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #F0F0F0;
    border: 1px solid #FCFCFC;
  }
  .info-section-right-adres-input:hover {
border: 2px solid #DFFBFF;
  }


  .info-section-right-adres-btn {
    background-color: #6294A2;
    color: #F0F0F0;
    font-size: 17px;
    font-family: Acumin Pro-reg;
    padding: 15px 53px;
    border: none;
    border-radius: 22px;
  }

  footer {
   
    width: 68%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
  }


  .footer-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
   height: 159px;
   padding-top: 47px;
   padding-bottom: 27px;

  }
  .footer-left h1 {
    font-size: 16px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }
  .footer-left h2 {
    font-size: 15px;
    font-family: Acumin Pro-reg;
    color: #707070;
  }

  .footer-logo {
    display: flex;
    
    gap: 26px;
  }
  .footer-logo p {
    font-size: 22px;
    font-family: Acumin Pro-reg;
    color: #404040;
    
  }
  .footer-logo span {
    font-family: Acumin Pro-bold;
  }
  .footer-logo:last-child p{
    font-size: 18px;
  }
  .footer-logo img {
    padding-bottom: 3px;
  }
  .footer-text {
    display: flex;
    align-items: flex-start;
   gap: 5px;
    flex-direction: column;
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }



  .footer-nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .footer-nav a {
    font-size: 15px;
    font-family: Acumin Pro-bold;
    color: #404040;
    display: flex;
    padding-top: 8px;
  }
 


  .footer-more-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 20%;
    height: 159px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-icones {
    display: flex;
    align-items: center;
    gap: 7px;

  }

  .footer-more-info a {
    font-size: 15px;
    font-family: Acumin Pro-bold;
    color: #404040;
  }