.container {
  max-width: 1920px;
  margin: 0 auto;
  
}

.header {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 82px;
}
.header-left p {
  font-size: 22px;
  font-family: Acumin Pro-reg;
  color: #404040;
  

}
.header-left span {
  font-family: Acumin Pro-bold;
}

.header-left a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
}
.header-left img {
  padding-bottom: 3px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-right p {
font-size: 16px;
font-family: Acumin Pro-bold;
color: #404040;
}

.header-right a {
  font-size: 16px;
  font-family: Acumin Pro-reg;
  color: #707070;
  opacity: 0.3;

}
